---
layout: base.njk
---

<article class="post">
  <header class="post-header">
    <h1>{{ title }}</h1>
    <time datetime="{{ date }}">{{ date | readableDate }}</time>
    {% if tags %}
    <ul class="tags">
      {% for tag in tags %}
        {% if tag != "posts" %}
          <li class="tag">{{ tag }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content | safe }}
  </div>
</article>

<a href="/" class="back-link">&larr; All posts</a>
